In [ ]:
#import
import os
import pandas as pd

In [ ]:
#csv 파일 폴더
csv_data = os.listdir("/content/drive/MyDrive/공부(개인)/인공지능/컴패스/data")

In [ ]:
#csv 파일 합치기
data = pd.DataFrame()
for i in csv_data:
  PATH = "/content/drive/MyDrive/공부(개인)/인공지능/컴패스/data/" + i
  #print(pd.read_csv(PATH))

  add = pd.read_csv(PATH)
  data = pd.concat([data, add])
  print(data.shape)

(77507, 2)
(1126078, 2)
(2084394, 2)
(2839550, 2)
(3888125, 2)
(4142860, 2)
(5191431, 2)
(6240005, 2)
(7288577, 2)
(8124766, 2)
(8474580, 2)
(8947165, 2)
(9243462, 2)
(9442900, 2)
(9618203, 2)
(10315358, 2)
(10644691, 2)

<ipython-input-38-dd5c0f7eb728>:7: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  add = pd.read_csv(PATH)

(12590761, 2)

In [ ]:
#nan 제거
data.dropna(axis=0, how='any', inplace=True)

In [ ]:
#데이터 확인용 출력
print(data.isnull().sum()) #빈칸 확인

print(data["USABILITY"]) #데이터 출력
print(data["BLD_NM"]) #데이터 출력

USABILITY    0
BLD_NM       0
dtype: int64
58          22000
148          1000
173         17000
211          1000
400         10000
            ...
1310715    100000
1310716    100000
1310717    100000
1310718    100000
1310719    100000
Name: USABILITY, Length: 1960874, dtype: object
58         연기군 생활폐기물 종합처리시설
148                      2동
173                  문곡리 공장
211                      1동
400               세종하이텍고등학교
                 ...
1310715               공주대학교
1310716                  3동
1310717                  2동
1310718                  7동
1310719                 13동
Name: BLD_NM, Length: 1960874, dtype: object

In [ ]:
print(data.drop_duplicates(subset=['USABILITY'],inplace=False)[0:50] )
print(len(data.drop_duplicates(subset=['USABILITY'],inplace=False) ))

In [ ]:
data.dtypes

USABILITY    object
BLD_NM       object
dtype: object

In [ ]:
data["USABILITY"] = data["USABILITY"].str.replace('[^0-9 ]','')

<ipython-input-40-f63e18ce3153>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data["USABILITY"] = data["USABILITY"].str.replace('[^0-9 ]','')

In [ ]:
for i in data["USABILITY"]:
  try:
   i = pd.to_numeric(i)
  except:
    print("error: ",i)

In [ ]:
data.to_csv("/content/drive/MyDrive/공부(개인)/인공지능/컴패스/data/data_set.csv", index = False)